<% content = show || @content %>
<% links do %>
  <li><%= edit_content_link @content %></li>
  <li><%= index_contents_link :label => 'Back to List' %></li>
<% end %>


<% accordion do %>

  <% accordion_item "General" do %>
    <dl class="content">
      <dt>Title</dt>
      <dd> <%=h content.title %>
    </dl>
  <% end %>

  <% accordion_item "Specific" do %>
    <p>Render Content-type specific template here</p>
  <% end %>

  <% if content.respond_to?(:picturizations) %>
    <% accordion_item "Pictures" do %>
      <% if content.images.empty? %>
        <p>no Pictures associated</p>
      <% else %>
        <div class="index pictures">
          <%= render :partial => '/images/list_item_thumb', :collection => content.images %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>

