{% if object.image %}
  {{ object.image | scale: geometry | to_image | link: object }}
{% endif %}
<div class="box">
  <h3>{{ object.title | link: object }}</h3>
  <div class="description">{{ object.description | markup }}</div>
</div>
