<h1>Editing part</h1>

<%= error_messages_for :part %>
<% update_part_form(@part, :html => {:id => 'editing_part'}) do |f| %>
  <%= render :partial => 'fields', :object => f %>
<% end %>

<%= link_to 'Cancel', @part %> |
<%= link_to 'Back', parts_path %>
