<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <title>WILD - CMS SAFARI</title>
			<%= render :partial => '/layouts/head' %>
      <%= theme_stylesheet_link_tag 'wild' %>
   </head>
   <body class="<%= user_roles_classes -%>">
      <%= yield %>
   </body>
   <%= javascript_include_tag *%w(busy_ajax) %>
</html>
