- options = {}
- add_class_to_html_options options, dom_id(grid)
- add_class_to_html_options options, grid.yaml_sub_class
- add_class_to_html_options options, grid.title.domify unless grid.title.blank?
- add_class_to_html_options options, grid.css_classes unless grid.css_classes.blank?
- options[:id] = dom_id(grid)
- options[:rel] = dom_id(grid)
%div.grid{options}
  -if grid.children.empty?
    - if page
      - renderings = grid.renderings_for_page(page)
      - if renderings.empty?
        = render(:partial => 'grids/without_renderings', :object => grid, :locals => {:grid => grid, :page => page})
      - else
        %div.col{:class => grid.yaml_column_class}
        - renderings.each do |rendering|
          = render_rendering(rendering, :page => page, :grid => grid)
    - else
      %div= "no children and no page given. empty?"
  - else
    - grid.children.each do |child|
      %div.col{:class => child.yaml_column_class, :rel => dom_id(child)}
        = render_grid(child, :page => page)
