<p>
  <% if logged_in? %>
    Welcome <%= current_user.full_name %>
  <% else %>
    Welcome Guest!
  <% end %>
</p>

<p>
  It is now <%= Time.now %>.
</p>

<p>
  Easy steps to your own Website:
  <ol>
    <li>
      Start creating <%= show_content_link(Folder.root, :label => 'Content') %>
    </li>
  </ol>
</p>

<ul>
  <% primary_controller_names.each do |cname| %>
    <li>
      <%= link_to cname.humanize, {:controller => cname}, :class => "index #{cname}" %>
    </li>
  <% end %>
</ul>
