
<div class="main_content">
  <ul class="nav">
    <li><a class="active" href="#">pages</a></li>
    <li><a href="#">Publish</a></li>
  </ul>
  
  <table>
    <colgroup>
      <col width="50"/>
      <col width="60"/>
      <col width="65"/>
      <col width="65"/>
      <col width="60"/>
      <col width="60"/>
      <col width="60"/>
    </colgroup>
    <caption>
      <ul class="prime_options">
        <li><a class="link_publish" href="#">Publish</a></li>
        <li><a class="link_add_page" href="#">Add Page</a></li>
        <li><a class="link_go_up_directory" href="#">Go Up Directory</a></li>
      </ul>
      <ul class="sec_options">
        <li><a class="action" href="#">Refresh</a></li>
        <li><a href="#">Save</a></li>
      </ul>
    </caption>

    <thead>
      <tr>
        <th><input type="checkbox"></input></th>
        <th><a href="#">Title</a></th>
        <th><a href="#">Alias</a></th>
        <th><a href="#">Priority</a></th>
        <th><a href="#">Status</a></th>
        <th><a href="#">Last updated</a></th>
        <th>Tools</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><input type="checkbox"></td>
        <td>tirade.com</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>By Niklas, two days ago</td>
        <td>
          <a class="tools_edit" href="#"></a>
          <a class="tools_copy" href="#"></a>
          <a class="tools_delete" href="#"></a>
          <a class="tools_unpublish" href="#"></a>
        </td>
      </tr>

      <% 10.times do -%>
      <tr>
        <td><input type="checkbox"></td>
        <td>tirade.com</td>
        <td>&nbsp;</td>
        <td><input type="text" value="1"></td>
        <td>Action needed</td>
        <td>By Niklas, two days ago</td>
        <td>
          <a class="tools_edit" href="#"></a>
          <a class="tools_copy" href="#"></a>
          <a class="tools_delete" href="#"></a>
          <a class="tools_unpublish" href="#"></a>
        </td>
      </tr>
      <% end -%>
    </tbody>
  </table>
  <div class="pagination_bottom">
    Will Paginate later
  </div>
</div>
