<h1>Tirade Account activation</h1>

<p>
	Instructions to activate your account has been sent to your email address <%= @user.email %>.
</p>
	
<p> 
	If this email is not correct you must <%= link_to "signup", signup_path %> again and provide the correct email.
</p> 

<p>
	If you do not receive email within few minutes please check your bulk folder or trash folder.
</p> 
