<fieldset>
<legend>Password Reset Request</legend>

<% form_for :user, :url => forgot_password_path do |f| %>
	<p><%= f.label :email %><br/>
	<%= f.text_field :email %></p>
	
	<%= submit_tag 'Send' %>
<% end %>
</fieldset>
