<h1>Change password</h1>

<fieldset>
<legend>A new password will be sent to your registered email-address.</legend>

<% form_for :user, :url => forgot_password_path do |f| %>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p><%= submit_tag 'Send', :class =>'submit' %></p>
	
<% end %>
</fieldset>
