<%  
render_tabnav :main, 
              :generate_css => false do 
    
  primary_controller_names.each do |name|
    add_tab do |t|
      t.named name.camelize
      t.titled "Go to #{name.camelize}"
      t.links_to :controller => name
      t.html[:class] = "index #{name}"
    end
  end 
end 
%>
