-if layout = page.final_layout
  %div.page_margins{:style => page.style}
    %div.page{:class => dom_id(page), :title => page.title}
      = render_grid(layout, :page => page)
-else
  = render :partial => 'pages/without_layout', :object => page, :locals => {:page => page}
