	<div class="header">
			
		<ul id="primary_navigation">
		  <li><a href="#">News</a></li>
		 	<li class="active"><a href="#">People</a></li>
		  <li><a href="#">Lifestyle</a></li>
		  <li><a href="#">Videos</a></li>
			<li><a href="#">Music</a></li>
		</ul>
		
	</div>