<% part = show_for_rendering.part %>
<div class="show part">
  <%= part ? part.name : 'none' %>
  <%= edit_rendering_part_link(show_for_rendering) %>
  <%= edit_rendering_part_link(show_for_rendering, :label => 'Select', :parameters => {:anchor => 'part'}) %>
</div>
