<div id="header" class="header">
  <p>
    Default Header, found in <tt>app/views/public/_header.html.erb</tt>, can be overridden
  with file in <tt>themes/<%= current_theme %>/views/public/_header.html.erb</tt>
  </p>
</div>
