<div id="header" class="header">
  <p>
    Default Header, found in <pre>app/views/public/_header.html.erb</pre>, can be overridden
  with file in <pre>themes/[yourtheme]/views/public/_header.html.erb</pre>
  </p>
</div>
