<li>
	<div style="float:left">
	<%= image_tag image.url %>
	</div>
	
	<%# In place editor bug %>
	<% @image = image %>
	<div style="float:left; margin-top: 23px;margin-left: 10px">
	<%= in_place_editor_field :image, :title %>
	(<%= link_to 'Remove', image, :confirm => 'Are you sure?', :method => :delete %>)
	</div>

</li>
<br style="clear:both"/>