<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Tirade without title (public layout in default theme)</title>
    <%= render :partial => '/layouts/head' %>
    <%= yield :head %>
</head>
<body class="<%= user_roles_classes -%>">
  <%= yield %>
</body>
